<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="owlinone.pae">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- On créer des permissions pour notre application -->
    <permission android:name="owlinone.pae.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <!-- On ajoute notre permission à la liste des permissions requises par l'API -->
    <uses-permission android:name="owlinone.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="owlinone.pae.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- La librairie Maps V2 nécessite openGL pour son bon fonctionnement -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_2"
        android:supportsRtl="true"
        android:name=".configuration.TrackEvents"
        android:theme="@style/AppTheme">

        <uses-library android:name="com.google.android.maps" />
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="@string/api_debug_key"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />


        <activity
            android:name="owlinone.pae.main.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="owlinone.pae.appartement.AddApart"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="owlinone.pae.main.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="owlinone.pae.appartement.Appartement"
            android:screenOrientation="portrait"
            android:label="@string/app_appartement">
        </activity>
        <activity
            android:name="owlinone.pae.article.DetailArticle"
            android:screenOrientation="portrait">
        </activity>

            <activity
                android:name="owlinone.pae.password.PasswordReset"
                android:screenOrientation="portrait">
            </activity>
            <activity
                android:name="owlinone.pae.password.PasswordActivity"
                android:screenOrientation="portrait">
            </activity>
        <activity
            android:name="owlinone.pae.appartement.DetailAppart"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="owlinone.pae.calendrier.CalendarExtra"
            android:screenOrientation="portrait"
            android:label="@string/app_calendrier">
        </activity>
        <activity
            android:name="owlinone.pae.session.Parametre"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".covoiturage.Covoiturage"
            android:label="@string/app_covoiturage"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".session.MainLogin"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login">
        </activity>
        <activity
            android:name=".session.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login">
        </activity>
        <activity
            android:name=".session.RegisterActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_register">
        </activity>
        <activity
            android:name=".session.Compte"
            android:label="@string/app_compte"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".covoiturage.Client"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".covoiturage.Conducteur"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="owlinone.pae.divers.APropos"
            android:label="@string/app_a_propos"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="owlinone.pae.divers.Bug"
            android:label="@string/app_bug"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >
        </activity>


        <!-- Optionally, register AnalyticsReceiver and AnalyticsService to support background
     dispatching on non-Google Play devices -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.androidpourtous.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".googleMessaging.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".googleMessaging.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service
            android:name=".googleMessaging.RegistrationIntentService"
            android:exported="false">
        </service>
    </application>

</manifest>